h5 {
  text-align: center;
}

ul {
  display: inline;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.open-source {
  padding-left: 20px;
}

#top-display {
  display: inline;
  text-align: center;
  border: none;
}
