h5 {
  text-align: center;
}

ul {
  display: inline;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.container {
  padding-top: 20px;
}

.open-source {
  padding-left: 20px;
}

.weather-app {
  padding-top: 20px;
}

#top-display {
  display: inline;
  text-align: center;
  border: none;
}

#td-weather {
  padding-bottom: 15px;
}
