h3,
h5 {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
}

.container {
  padding-top: 20px;
}

.open-source {
  padding-left: 20px;
}

.search {
  padding-bottom: 10px;
  text-align: right;
}

.weather-app {
  border-radius: 25px;
  box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.3);
  padding-top: 20px;
}

.weather-forecast-date {
  text-align: center;
}

#top-display {
  border-radius: 25px;
  display: inline;
  text-align: center;
}

#td-weather {
  padding-bottom: 15px;
}
